@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
html{
    font-size: 0.625rem;
}
body{
    background-color: #acacac;
    color: #fff; 
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}
.search-wrapper{
	position: relative;
	width: 50rem;
	height: 5rem;
	background-color: #fff;
	margin-bottom: 3rem;
	border-radius: 1.5rem;
	overflow: hidden; 
}