@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
html{
    font-size: 0.625rem;
}
body{
    background-color: blue;
    color: #fff; 
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}
.search-wrapper{
	position: relative;
	width: 50rem;
	height: 5rem;
	background-color: #fff;
	margin-bottom: 3rem;
	border-radius: 1.5rem;
	overflow: hidden; 
}
.input-username{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: .5rem 16rem .5rem 1.5rem;
}
.input-user::placeholder{
	color: #bdbdbd;
}
.btn{
    width: 13rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
	transition: all .5s ease;
	background-color: #54a0ff;
}
/* user information section */
.info-display-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60rem;
    box-shadow: 0 0 1rem #fff;
}
.info-display-div .user-info{
    width: 100%;
    height: 65vh;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16rem;
    overflow: hidden;

}

.info-display-div img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
}
.info-display-div .user-name{
    display: block;
    margin: 1rem;
    text-align: center;
}
.info-display-div h3{
	font-size: 1.2rem;
	margin:0;
}
.info-display-div h2{
	text-align: center;
	font-size: 1.8rem;
	margin: .5rem 0;
}
.info-display-div .follow{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 0.8rem;
}
.follow .item{
	font-size: 1.4rem;
}
.follow span{
	font-size: 1.2rem;
	font-weight: bold;
	display: block;
	margin-top: .7rem;
}
.info-display-div .visit-user{
    margin: 2rem 0 2rem 0;
}
.info-display-div .repos{
    width: 100%;
}
.visit-user{
	text-decoration: none;
	list-style: none;
	background-color: #130f40;
	color: #fff;
	padding: 1rem;
	cursor: pointer;
	letter-spacing: .1rem;
	transition: all .5s ease;
}
.visit-user:hover{
	background-color: #54a0ff;
}

/* repository section design */
.repos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 2rem;
    scroll-behavior: auto;
}
.repos h2{
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}
.repo-details{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.repos .item{
	width: 47%;
	border: 1px solid #fff;
	border-radius: .5rem;
	margin-bottom: 1.5rem;
	padding: 1rem;
}
.repos .repo-name{
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
/* media queries */
@media (max-width: 800px) {
	.container {
		padding: 9rem;
	}
	.info-display-div{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 60rem;
		box-shadow: 0 0 1rem #fff;
		margin-top: 4rem;
	}
	.info-display-div .user-info{
		width: 100%;
		padding: 2rem;
	}
	
}

@media (max-width: 400px) {
	 .info-display-div{
		width: 35rem;
		margin-left: .2rem;
	 }
	.repos .repo-details .item{
		width: 90%;
		margin:auto;
		margin-bottom: 1rem;
	}
	.repos .repo-name{
		font-size: 1.3rem;
		margin-bottom: 1.8rem;
	}
	.search-wrapper{
		width: 35rem;
		margin-top: -5rem;
	}
}
